# {
    color: rgb(228, 225, 222);
    margin: auto;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background-color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}
li{
    float: left;
    border-right:  1px solid #156ee2;
}
a{
    display: block;
    padding: 0 28px;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: #156ee2;
}
table{
    background-color: bisque;
}
#nikuu{
    position: relative;
    left: 445px;
}